body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #0f91db;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #0f91db;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  background-color: #30b9e4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0f91db;
  color: white;
}

.btn-detalle {
  padding: 5px 10px;
  background-color: #0f91db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-detalle:hover {
  background-color: #30b9e4;
}

.descripcion {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nombre {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-modificar {
  padding: 5px 10px;
  background-color: #0f91db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-eliminar {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #f44336;
}

.btn-modificar:hover {
  background-color: #30b9e4;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;
}
