body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    border-color: black;
}

.container {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.col-label {
    flex: 1;
    margin-right: -170px;
}

.col-input {
    flex: 1;
    margin-right: 10px;
}

.col-input-long {
    flex: 2;
    margin-right: 10px;
}

.col-input:last-child, .col-input-long:last-child {
    margin-right: 0;
}

.full-width {
    display: flex;
    width: 100%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.short-button {
    padding: 10px 20px;
    background-color: #0F91DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.large-button {
    padding: 10px 20px;
    background-color: #0F91DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #30B9E4;
}

h1 {
    color: #0F91DB;
}